@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;

  /* Primary Greens */
  --color-primary-50: #e8f5e9;
  --color-primary-100: #c8e6c9;
  --color-primary-400: #66bb6a;
  --color-primary-500: #2e7d32;
  --color-primary-700: #256528;

  /* Neutra/Neutral Grays */
  --color-neutra-50: #fafafa;
  --color-neutra-100: #f5f5f5;
  --color-neutra-300: #e0e0e0;
  --color-neutra-400: #bdbdbd;
  --color-neutra-500: #7b7b7b;
  --color-neutra-600: #757575;
  --color-neutra-700: #616161;
  --color-neutra-800: #292929;
  --color-neutra-900: #212121;

  /* Specific RGBA colors */
  --color-accent-yellow: rgba(255, 215, 0, 1);
  --color-primary-green: #1e5a22;
  
}

@layer base {
  body {
    font-family: var(--font-manrope);
  }
}
