.features {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: 40px;
  color: #424242;
  font-family: Manrope;
}
.header-and-features-hero {
  align-self: stretch;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  color: #2e7d32;
}
.trashbeta-nav-bar {
  width: 1440px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 120px;
  gap: 20px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
}
.group-parent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.frame-child {
  height: 24px;
  width: 18px;
  position: relative;
}
.trashbeta {
  position: relative;
  line-height: 30px;
  font-weight: 600;
}
.decore-icon {
  width: 143px;
  height: 6px;
  position: relative;
  object-fit: contain;
}
.home-parent {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #616161;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.home3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #212121;
}
.button {
  height: 48px;
  border-radius: 50px;
  background-color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  box-sizing: border-box;
  color: #fff;
}
.get-started {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.frame-parent {
  width: 1440px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 100px;
  box-sizing: border-box;
  gap: 60px;
  text-align: center;
  font-size: 48px;
  color: #212121;
}
.everything-you-need-for-effect-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.everything-you-need {
  width: 794px;
  position: relative;
  line-height: 64px;
  display: inline-block;
}
.simple-powerful-features {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #616161;
  text-align: left;
}
.button-parent {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.button2 {
  border-radius: 50px;
  background-color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  gap: 8px;
}
.vuesaxlineargroup {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.report-an-issue {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  flex-shrink: 0;
}
.button3 {
  border-radius: 50px;
  border: 1px solid #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  gap: 8px;
  color: #2e7d32;
}
.features-preview-section {
  width: 1440px;
  background-color: #f3fff4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
  box-sizing: border-box;
  gap: 60px;
}
.features-preview-section-child {
  height: 440px;
  width: 560px;
  position: relative;
  border-radius: 12px;
  object-fit: cover;
}
.feature-1 {
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  gap: 32px;
}
.featured-icon {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 32.67px;
}
.text-and-supporting-text-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.text-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.text {
  width: 444px;
  position: relative;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
}
.supporting-text {
  width: 424px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #757575;
  display: inline-block;
}
.feature-benefits-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #757575;
}
.check-item-text {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.check-icon {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 12px;
}
.text2 {
  width: 480px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.features-preview-section2 {
  width: 1440px;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
  box-sizing: border-box;
  gap: 60px;
}
.text7 {
  width: 386px;
  position: relative;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
}
.text12 {
  width: 370px;
  position: relative;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
}
.supporting-text3 {
  width: 370px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #757575;
  display: inline-block;
}
.text18 {
  align-self: stretch;
  position: relative;
  line-height: 52px;
  font-weight: 600;
}
.text24 {
  width: 480px;
  position: relative;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
}
.final-call-to-action {
  align-self: stretch;
  background-color: #e8f5e9;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: 80px 100px;
  gap: 40px;
  color: #256528;
}
.ready-to-experience-these-feat-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.ready-to-experience {
  position: relative;
  line-height: 52px;
  font-weight: 600;
}
.supporting-text7 {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #2e7d32;
}
.button4 {
  border-radius: 50px;
  background-color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8px;
}
.button5 {
  border-radius: 50px;
  border: 1px solid #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8px;
  color: #2e7d32;
}
.footer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 24px;
  color: #2e7d32;
}
.footer-top {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  padding: 64px 120px;
  gap: 64px;
}
.logo-parent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.logo2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.supporting-text8 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #7b7b7b;
}
.frame-group {
  width: 816px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  color: #292929;
}
.heading-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.heading {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.heading-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  color: #7b7b7b;
}
.heading2 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.heading-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  color: #7b7b7b;
}
.footer-bottom-bar {
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 48px 120px;
  gap: 32px;
  font-size: 16px;
  color: #616161;
}
.footer-text {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.footer-text2 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.social-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.symbolsvg-icon2 {
  height: 24px;
  width: 34.2px;
  position: relative;
}
